<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-sm-5 mt-3" style="background: white;max-width:128px; max-height:128px;">
            <img src="/default_user.jpg" class="card-img rounded-circle" style='max-width:100px; max-height:100px; border: 3px solid #73AD21;'>
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title"><%=@user.name %></h5>
            </div>
            <%= render "shared/stats" %>
          </div>
        </div>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' unless  signed_in? %>
    <% if @user.reviews.any? %>
    <h3>Reviews (<%= @user.reviews.count %>)</h3>
    <ol class="reviews">
      <%= render @reviews %>
    </ol>
    <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>