<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5" role="navigation">
  <div class="container">
    <i class="fab fa-envira" style="font-size:48px;color:green"></i>
    <a class="navbar-brand" href="/">LOL</a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to t(:all_book), books_path, class:"nav-link" %></li>\
        <li class="nav-item"><%= link_to t(:reviewers), users_path, class:"nav-link" %></li>
        <% unless signed_in? %>\
        <li class="nav-item"><%= link_to t(:new_request), new_request_path, class:"nav-link" %></li>\
        <%= link_to t(:new_review), new_review_path, class: "nav-link" %>
        <p class="text-light mt-2 ml-5"> <%= t(:hello) %> <%= current_user.name %></p>
        <% end %>
      </ul>
      <ul class="nav navbar-nav flex-row ml-auto">

        <% if signed_in? %>
        <li class="nav-item"><%= link_to t(:signin), signin_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t(:signup), signup_path, class: "nav-link" %></li>
        <% else %>
        <% if is_admin? %>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=t(:admin_tool)%>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to t(:control_users), admin_users_path, class: "dropdown-item" %>
            <%= link_to t(:control_books), admin_books_path, class: "dropdown-item" %>
            <%= link_to t(:control_requests), admin_responses_path, class: "dropdown-item" %>
          </div>
        </div>
        <% end %>
        <div class="dropdown">
          <button class="btn btn-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if check_notification %>
            <i class="fas fa-bell mt-2" style="font-size:16px;color:red;" id="bell-red"></i>
            <i class="far fa-bell mt-2" style="font-size:16px;color:gray; display:none;" id="bell"></i>
            <% else %>
            <i class="fas fa-bell mt-2" style="font-size:16px;color:red;display:none;" id="bell-red"></i>
            <i class="far fa-bell mt-2" style="font-size:16px;color:gray" id="bell"></i>
            <% end %>
          </button>
          <input type="hidden" id="user_id_header" value="<%= current_user.id %>">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="notification-box">
            <% current_user.notifications.order(created_at: :desc).each  do |noti|%>
            <% if noti.status == "not" %>
            <li class="dropdown-item bg-secondary btn-noti" id="<%= noti.id %>" name="btn-noti-<%= noti.id %>"><%= noti.content %></li>
            <% else %>
            <li class="dropdown-item bg-light btn-noti" id="<%= noti.id %>" name="btn-noti-<%= noti.id %>"><%= noti.content %></li>
            <% end %>
            <% end %>
          </div>
        </div>
        <li class="nav-item"><%= link_to t(:signout), signout_path, method: :delete, class: "nav-link" %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav flex-right pl-4">
        <% if I18n.locale.to_sym == :en %>
        <%= link_to t(:vi), locale: :vi %>
        <% else %>
        <%= link_to t(:en), locale: :en %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>